<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <iisnode loggingEnabled="true" devErrorsEnabled="true">
        </iisnode> -->
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>

       <security>
        <requestFiltering>
           <hiddenSegments>
             <add segment="node_modules" />
             <add segment="iisnode" />
           </hiddenSegments>
         </requestFiltering>
       </security> 

      <rewrite>
        <rules>
            <!-- Don't interfere with requests for node-inspector debugging -->
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                <match url="^app.js\/debug[\/]?" />
            </rule>

            <!-- First we consider whether the incoming URL matches a physical file in the /library folder -->
            <!-- <rule name="StaticContent">
                <action type="Rewrite" url="library{REQUEST_URI}" />
            </rule> -->

            <!-- All other URLs are mapped to the Node.js application entry point -->
            <rule name="DynamicContent">
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                </conditions>
                <action type="Rewrite" url="app.js" />
            </rule>
        </rules>
    </rewrite>

    </system.webServer>
</configuration>
