<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
{% if message %}
{{ message }}
{% else %}

Here is the text for the default page.

{% endif %}

<div id='search'>
<script>
  (function() {
    var cx = '008658705802461367413:lifgp7bcvtm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
</body>
</html>